


.table-bingo th{
  color: #ffffff;
  background-color:  #002966;
  text-align: center ;
}
.table-bingo td{
  color: #000000;
  background-color:  #ffffff;
  text-align: center ;
}

.bingo-gezogen{
  color: #000000;
  background-color:  #06fa63;
  text-align: center ;
}

.bingo-einfach{
  color: #000000;
  background-color:  #ff9428;
  text-align: center ;
}


.bingo-doppelt{
  color: #000000;
  background-color:  #c0c0c0;
  text-align: center ;
}

.bingo-dreifach{
  color: #000000;
  background-color:  #ffff00;
  text-align: center ;
}